body {
	margin: 0;
	background-color: #E0E1EB;

	font-family: sans-serif;
}

section.titulo {
	margin-top: 0;
	background-color: #33354D;
}

.titulo h1 {
	margin-top: 0;

	font-size: 4rem;
	color: #FFFFFF
}

section.apartado {
	margin-top: 0;
	padding: 0 10px 0 10px;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

section.escritorio {
	position: absolute;
	left: 10%;
	width: 35%;
}

section.internet {
	position: absolute;
	right: 10%;
	width: 35%;
}

.apartado h2 {
	margin-top: 0;
	background-color: #33354D;

	font-size: 2em;
	text-align: center;
	color: #FFFFFF;
}

article.subapartado {
	margin: 0 20px 0 20px;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.subapartado h3 {
	margin: 0;
	padding-left: 5px;
	border-radius: 10px 10px 0 0;
	background-color: #29A333;

	font-size: 1.5em;
	color: #FFFFFF;
}

.subapartado p {
	margin-top: 0;
	padding: 5px;

	text-align: justify;
}